<?xml version="1.0" encoding="utf-8"?>
<!--
* Copyright 2010 Nick Lanham
*
* This file is part of "AndroidFlashcards".
*
* "AndroidFlashcards" is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* "AndroidFlashcards" is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with "AndroidFlashcards". If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
					package="com.secretsockssoftware.androidflashcards"
					android:versionCode="3"
					android:versionName="1.1">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-sdk android:minSdkVersion="4" />
  <application android:label="@string/app_name" android:icon="@drawable/icon">
    <activity android:name="AndroidFlashcards"
							android:configChanges="orientation"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".CardRunner"/>
    <activity android:name=".MemoryRunner"/>
    <activity android:name=".LessonSelect"/>
    <activity android:name=".DownloadableLessonList"/>
    <activity android:name=".LessonDownload"/>
  </application>
</manifest> 
